{{template "header" .}}

<form action="/signup" method="post">
  <div>
    <label for="email">Email address</label>
    <input
      name="email"
      id="name"
      type="email"
      placeholder="Email Address"
      required
      autocomplete="email"
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      name="password"
      id="password"
      type="password"
      placeholder="Password"
      required
    />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>

{{template "footer" .}}
